apiVersion: v1
kind: Service
metadata:
  labels:
    app: web
  name: web
  namespace: demo
spec:
  clusterIP: 10.0.207.252
  clusterIPs:
  - 10.0.207.252
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: web
  sessionAffinity: None
  type: ClusterIP