apiVersion: v1
kind: Service
metadata:
  creationTimestamp: "2026-02-09T19:30:02Z"
  labels:
    app: web
  name: web
  namespace: demo
  resourceVersion: "2636"
  uid: 0ca3a583-eda5-4609-b08d-945db3048fab
spec:
  clusterIP: 10.0.207.252
  clusterIPs:
  - 10.0.207.252
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: web
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}
