name: Deploy to AKS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set AKS context
        uses: azure/aks-set-context@v4
        with:
          resource-group: rg-5g-cloud
          cluster-name: aks-5g

      - name: Deploy manifests
        run: |
          kubectl apply -f k8s/manifests/
          kubectl -n demo rollout status deploy/web --timeout=120s
          kubectl -n demo get pods -o wide
          kubectl -n demo get svc
